.element-with-highlight {
    position: relative;
    color: #7E7E82;
}

.element-with-highlight::after {
    content: '';
    height: 32px;
    width: 8px;
    background-color: #41F6D7;
    position: absolute;
    border-radius: 4px;
    left: -28px;
    top: -4px;
}